* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-image {
    padding: 30px 0;
}

.nav-ul {
    width: 800px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding: 30px 0;
    border-top: 1px solid rgb(74, 92, 0);
    border-bottom: 1px solid rgb(74, 92, 0);
}

.nav-li:hover {
    text-decoration: underline;
    color: rgb(136, 136, 0);
}

main {
    width: 800px;
    margin-bottom: 50px;
}

.promotion-image {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.promotion-text {
    height: 200px;
    background-color: lemonchiffon;
    color: rgb(74, 92, 0);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.promotion-text p {
    padding-top: 25px;
    width: 500px;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article {
    width: 250px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(131, 131, 118);
}

article .article-title {
    padding: 1rem;
    font-size: 1.5rem;
    color: rgb(136, 136, 0);
    font-weight: 600;
}
article .article-image {
    width: 100%;
    height: auto;
}

article .article-text {
    color: gray;
    font-size: 0.8rem;
    padding: 1rem 0 2rem 0;
}
article .article-link:hover {
    cursor: pointer;
    color: rgb(108, 108, 0);
    text-decoration: underline;
}

footer {
    width: 100vw;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.footer-container > img {
    width: 30%;
}

.footer-container > .footer-text {
    font-size: 0.8rem;
    color: rgb(108, 108, 0);
}
